/*main.css*/
html, body, section, main, footer, h1, h2, h3, h4, p, div, a {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  font-family: Avenir-Roman, Helvetica, sans-serif;
  font-weight: 200;
  box-sizing: border-box;
  background:white;
  /*font-size: 20px;*/
}

.container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 40px;
}

.container.cv {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 40px;
}

.logo.logo--default {
  display: inline-block;
}

.logo.logo--hover {
  display: none;
}

.logo-container:hover .logo.logo--default {
 display: none;
}

.logo-container:hover .logo.logo--hover {
  display: inline-block;
}

.content {
  margin-top: 40px;
  margin-bottom: 40px;
}

p {
  font-family: Avenir-Roman;
  font-size: 24px;
  color: #000000;
  margin-bottom: 1em;
}

span {
  color:#B8E986;
}

a {
  text-decoration: none;;
  color: #000000;
}

a:hover {
  text-decoration: underline;
  color: #000000;
}

.button {
  padding: 10px;
  background: #624AE2;
  border-radius: 3px;
  font-family: Avenir-Roman;
  font-size: 25px;
  color: #FFFFFF;
  text-decoration: none;
}

a.button:hover,
a.button:focus {
  opacity: 0.8;
  color: #FFFFFF;
  text-decoration: none;
}

footer a {
  padding: 10px 20px;
}
    /*html {
      box-sizing: border-box;
      background:white;
      font-size: 20px;
      font-weight: 200;
    }*/
    /*body {
      margin: 0;
    }*/
*, *:before, *:after {
  box-sizing: inherit;
}

.panels.cv {
  min-height:100vh;
  overflow: hidden;
  display: flex;
  border: black 1px dotted;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
}

.panel.cv {
  background:white;
  box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
  color:black;
  text-align: center;
  align-items:center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  font-size: 20px;
  background-size:cover;
  background-position:center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/* Flex Items */
.panel.cv > * {
  margin:0;
  width: 100%;
  transition:transform 0.5s;
  flex: 1 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
}

.panel.cv > *:first-child { transform: translateY(-100%); }
.panel.open-active.cv > *:first-child { transform: translateY(0); }
.panel.cv > *:last-child { transform: translateY(100%); }
.panel.open-active.cv > *:last-child { transform: translateY(0); }

.panel.cv p {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  /*text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);*/
  font-size: 2em;
}

.panel.cv p:first-child {
  font-size: 1em;
  color: #F8E81C;
  text-decoration: underline;
}
.panel.cv p:nth-child(2) {
  font-size: 2em;
  color: #4990E2;
}
.panel.cv p:nth-child(3) {
  font-size: 25px;
  color: #D0011B;
}

.panel.open.cv {
  flex: 5;
  font-size:20px;
}


